<div class="uk-padding">
<div class="uk-card uk-card-default ">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="80" height="80" src="assets/img/usericon.png">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{data.name}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">email:{{data.email}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{data.comments}}.</p>
    </div>
    <div class="uk-card-footer">
       <p>phone: {{data.phone}}</p>
       <p>provice: {{data.province}}</p>
       <p>price: {{data.price}}</p>

    </div>
</div>
</div>
